<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 50px; margin-bottom: 25px">
      <mat-card style="margin: 0">
        <section class="vh-100" style="background-color: #9A616D;">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                      <img
                        src="https://firebasestorage.googleapis.com/v0/b/vuongcuti-6ce58.appspot.com/o/createvideo.png?alt=media&token=da8469a7-5774-48a8-bc35-cb3faedf87ea"
                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">

                        <form class="row g-3" #f="ngForm" (ngSubmit)="f.form.valid && createVideo()"
                              style="max-width: 1100px">
                          <h3 style="text-align: center">Create Video</h3>
                          <mat-error>{{status}}</mat-error>
                          <div class="col-md-12 uploadFile">
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Video Name</label>
                              <input type="text" class="form-control" id="inputEmail4" name="name"
                                     [(ngModel)]="form.name" matInput required>
                            </div>
                          </div>
                          <div class="col-md-4 uploadFile">
                            <label class="form-label">Category</label>
                            <mat-select [(ngModel)]="form.category" name="categoryList" multiple>
                              <mat-option *ngFor="let cat of category" [value]="cat">{{cat.name}}</mat-option>
                            </mat-select>
                          </div>
                          <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 uploadFile">
                              <label>Image for Video</label>
                              <app-upload-avatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
                              <label>Video</label>
                              <app-upload-file (giveURLtoCreate)="onUploadFile($event)"></app-upload-file>
                              <div class="col-md-1"></div>
                            </div>
                          </div>
                          <div class="col-12" style="text-align: center">
                            <button type="submit" class="btn btn-primary">Create</button>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-card>
    </div>
  </div>
</div>
