<!-- Top navbar -->
<nav class="container-fluid fixed-top bg-white pt-2" id="top_nav">
  <div class="row">
    <div class="col-4 pl-4">
      <a class="navbar-brand" routerLink="/">
        <img
          alt=""
          src="https://firebasestorage.googleapis.com/v0/b/giangvan-248ea.appspot.com/o/logo.png?alt=media&token=ea07d5cc-ec42-4e5e-839c-22b6558e49ae" width="10%">
        <span> MeTUBE</span>
      </a>
    </div>
    <div class="col-4">
      <form action="">
        <div class="input-group mb-3">
          <input type="text" class="form-control search" placeholder="Search" name="search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Search!"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4 text-right">
      <div class="userLogin d-flex justify-content-end">
          <a routerLink="login" class="btn btn-outline-primary">
            <i class="fas fa-user-circle" style="font-size: 20px;"></i>
            <span style="font-size:14px; font-weight: 600;"> SIGN IN</span>
          </a>
          <a routerLink="register" class="btn btn-outline-primary">
            <i class="fas fa-user-circle" style="font-size: 20px;"></i>
            <span style="font-size:14px; font-weight: 600;"> SIGN UP</span>
          </a>
      </div>
    </div>
  </div>
</nav>
<!-- Top navbar -->

