<!-- Top navbar -->
<nav class="container-fluid fixed-top bg-white pt-2" id="top_nav">
  <div class="row">
    <div class="col-4 pl-4">
      <a class="navbar-brand" routerLink="/">
        <img
          alt=""
          src="https://firebasestorage.googleapis.com/v0/b/giangvan-248ea.appspot.com/o/logo.png?alt=media&token=ea07d5cc-ec42-4e5e-839c-22b6558e49ae"
          width="10%">
        <span> MeTUBE</span>
      </a>
    </div>
    <div class="col-4">
      <form #f="ngForm" (ngSubmit)="f.form.valid && search()" novalidate>
        <div class="input-group mb-3">
          <input type="text" class="form-control search" placeholder="Search" [(ngModel)]="form.search" matInput required name="search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" data-toggle="tooltip"
                    data-placement="bottom" title="Search!"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4 text-right">
      <div class="userLogin d-flex justify-content-end" *ngIf="!checkLogin">
        <a routerLink="login" class="btn btn-outline-primary">
          <i class="fas fa-user-circle" style="font-size: 20px;"></i>
          <span style="font-size:14px; font-weight: 600;"> SIGN IN</span>
        </a>
        <a routerLink="register" class="btn btn-outline-primary">
          <i class="fas fa-user-circle" style="font-size: 20px;"></i>
          <span style="font-size:14px; font-weight: 600;"> SIGN UP</span>
        </a>
      </div>

      <div class="userLogin d-flex justify-content-end" *ngIf="checkLogin">
        <div class="btn-group dropdown">
          <img src="{{avatar}}" alt="" style="margin-right: 10px">
          <button type="button" class="btn btn-secondary dropdown-toggle"
                  data-bs-toggle="dropdown" aria-expanded="false">
            {{name}}
          </button>

          <ul class="dropdown-menu" style="text-align: center">
            <li>
              <button type="button" class="btn btn-danger" data-toggle="modal"
                      data-target="#exampleModal" style="width: 100%">Account Information
              </button>
            </li>
            <li *ngIf="checkAdmin">
              <a class="dropdown-item" routerLink="/category">Create category</a>
            </li>
            <li *ngIf="curChannel == undefined">
              <a class="dropdown-item" routerLink="/create-channel">Create your channel</a>
            </li>
            <li *ngIf="curChannel != undefined">
              <a class="dropdown-item" routerLink="/create-video">Create Video</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/create-playlist">Create Playlist</a>
            </li>
            <li>
              <button type="button" (click)="logout()" class="btn btn-danger" data-toggle="modal"
                      data-target="#exampleModal" style="width: 100%">Log out
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Top navbar -->


