<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 50px; margin-bottom: 25px">
      <mat-card style="margin: 0">
        <!-- main content -->
        <div class="row main_container">
          <div class="col-md-12">
            <!-- History section -->
            <div class="container-fluid">
              <div *ngIf="checkLogin">
                <div class="grid_title">Watched Videos</div>
                <button (click)="removeFromHistory()" color="warn" type="button" mat-raised-button>
                  Clear History<mat-icon>close</mat-icon>
                </button>
                <div class="row">

                    <div class="col-md-3 col-sx-10 p-2" *ngFor="let vd of videoList">
                      <a href="/video/{{vd.id}}">
                        <div class="card">

                          <img src="{{vd.avatar}}"
                               height="174"/>
                          <div class="row">
                            <div class="col-2 mt-3">
                              <img width="40" height="40" style="border-radius: 50%"
                                   src="{{vd.channel?.avatar}}"
                                   class="rounded-circle">
                            </div>
                            <div class="col-10 mt-3">
                              <p class="mb-2"
                                 title="{{vd.name}}">
                                {{vd.name}}</p>
                              <p style="color:#606060;">
                                {{vd.channel?.chName}} <i
                                class="fas fa-check-circle"></i><br>
                               {{vd.views}} views {{vd.date}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                </div>
              </div>

                <div class="right-wrapper" *ngIf="!checkLogin">
                  <h3 class="spinnerIconWrapper">
                    <div class="spinnerIcon"></div>
                  </h3>
                  <h3 class="finished-text">
                    Please login first
                  </h3>
                </div>

            </div>
            <!-- History Section -->
            <p><br></p>
            <p><br></p>
          </div>
        </div>
        <!-- main content -->
      </mat-card>
    </div>
  </div>
</div>
